*,
*::after,
*::before {
  transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: initial;
}

body,
html {
  transition: initial;
  -webkit-transition: initial;
  -moz-transition: initial;
  -ms-transition: initial;
  -o-transition: initial;
}

img {
  width: 100%;
}

.page-content {
  margin-left: 300px;
}
@media screen and (max-width: 1300px) {
  .page-content {
    margin-left: 150px;
  }
}

a {
  text-decoration: none;
  color: #14171a;
  scroll-behavior: smooth;
}

.block-container {
  max-width: 1250px;
  margin: auto;
  display: block;
}

.side-bar-wrapper {
  height: 100vh;
  overflow: auto;
  float: left;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

.active span {
  font-weight: 900;
}
.active .side-bar-option {
  background-color: #e1e8ed;
}
.active .side-bar-option .side-bar__icon {
  color: #1da1f2;
}

.side-bar {
  margin-top: 1rem;
  float: right;
  padding: 0 2rem;
}
.side-bar .side-bar-option {
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 20px;
  color: #14171a;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  cursor: pointer;
  padding-right: 1.5rem;
  gap: 1rem;
  margin-bottom: 1rem;
}
.side-bar .side-bar-option:hover {
  background-color: #e1e8ed;
}
.side-bar .side-bar-option .side-bar__icon {
  font-size: 1.9rem;
  cursor: pointer;
  display: grid;
  place-items: center;
  padding: 13px;
  overflow: visible;
}
.side-bar .side-bar-option .side-bar__txt {
  height: 30px;
}
.side-bar .side-bar-option.coloredIcon {
  background-color: #1da1f2;
}
.side-bar .side-bar-option.coloredIcon:hover {
  background-color: #0d95e8;
}
.side-bar .side-bar-option.coloredIcon svg {
  fill: #f5f8fa;
}
.side-bar .tweet-btn {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 0.7em 2em;
  background-color: #1da1f2;
  color: #f5f8fa;
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize !important;
  width: 100%;
}
.side-bar .tweet-btn:hover {
  background-color: #0d95e8 !important;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.logo-container:hover {
  background-color: #1da0f225;
}
.logo-container .logo-icon {
  padding: 10px;
  max-width: 32px;
}

.newTweetIcon {
  background-color: #1da1f2;
  color: #f5f8fa;
}

@media screen and (max-width: 1300px) {
  .side-bar__txt {
    display: none;
  }

  .side-bar {
    justify-content: flex-end;
  }
  .side-bar .side-bar-option {
    padding-right: 0;
  }
}
.home {
  display: flex;
  position: relative;
  flex: 5;
}
.home .home__feed {
  flex: 3;
  border-right: 1px solid #e1e8ed;
  border-left: 1px solid #e1e8ed;
  min-height: 100vh;
  position: relative;
}
.home .home__feed .feed__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e8ed;
  background-color: #fff;
  z-index: 200;
}
.home .home__feed .feed__header .header__heading {
  font-size: 20px;
  margin-left: 1rem;
}
.home .home__feed .feed__header .header__icon {
  font-size: 1.9rem;
  display: grid;
  place-items: center;
  padding: 13px;
  overflow: visible;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  cursor: pointer;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-right: 0.5rem;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.home .home__feed .feed__header .header__icon:hover {
  background-color: #e1e8ed;
}
.home .home__widgets {
  flex: 2;
}/*# sourceMappingURL=main.css.map */