*,
*::after,
*::before {
  transition: all 150ms ease-in-out;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: initial;
}

body,
html {
  transition: initial;
  -webkit-transition: initial;
  -moz-transition: initial;
  -ms-transition: initial;
  -o-transition: initial;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
body::-webkit-scrollbar,
html::-webkit-scrollbar {
  display: none;
}

img {
  width: 100%;
}

.page-content {
  margin-left: 300px;
}
@media screen and (max-width: 1300px) {
  .page-content {
    margin-left: 150px;
  }
}

a {
  text-decoration: none;
  color: #14171a;
  scroll-behavior: smooth;
}

.block-container {
  max-width: 1250px;
  margin: auto;
  display: block;
  overflow: visible;
}

.side-bar-wrapper {
  height: 100vh;
  overflow: auto;
  float: left;
}

.sticky {
  position: sticky;
  top: 0;
  z-index: 2;
}

.active span {
  color: #1da1f2;
}
.active .side-bar-option {
  background-color: #e1e8ed;
}
.active .side-bar-option .side-bar__icon {
  fill: #1da1f2;
}

.side-bar {
  margin-top: 1rem;
  float: right;
  padding: 0 2rem;
}
.side-bar .side-bar-option {
  display: flex;
  justify-content: flex-start;
  font-weight: 400;
  font-size: 20px;
  color: #14171a;
  align-items: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  cursor: pointer;
  padding-right: 1.5rem;
  gap: 1rem;
  margin-bottom: 1rem;
}
.side-bar .side-bar-option:hover {
  background-color: #e1e8ed;
}
.side-bar .side-bar-option .side-bar__icon {
  font-size: 1.9rem;
  cursor: pointer;
  display: grid;
  place-items: center;
  padding: 13px;
  overflow: visible;
}
.side-bar .side-bar-option .side-bar__txt {
  height: 30px;
}
.side-bar .side-bar-option.coloredIcon {
  background-color: #1da1f2;
}
.side-bar .side-bar-option.coloredIcon:hover {
  background-color: #0d95e8;
}
.side-bar .side-bar-option.coloredIcon svg {
  fill: #f5f8fa;
}
.side-bar .tweet-btn {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 0.7em 2em;
  background-color: #1da1f2;
  color: #f5f8fa;
  font-size: 17px;
  font-weight: 700;
  text-transform: capitalize !important;
  width: 100%;
}
.side-bar .tweet-btn:hover {
  background-color: #0d95e8 !important;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.logo-container:hover {
  background-color: #1da0f225;
}
.logo-container .logo-icon {
  padding: 10px;
  max-width: 32px;
}

.newTweetIcon {
  background-color: #1da1f2;
  color: #f5f8fa;
}

@media screen and (max-width: 1300px) and (min-width: 1145px) {
  .side-bar__txt {
    display: none;
  }

  .side-bar {
    justify-content: flex-end;
  }
  .side-bar .side-bar-option {
    padding-right: 0;
  }
}
.home {
  display: flex;
  position: relative;
  flex: 6;
  gap: 1rem;
}
.home .home__feed {
  flex: 4;
  border-right: 1px solid #e1e8ed;
  border-left: 1px solid #e1e8ed;
  min-height: 100vh;
  position: relative;
}
.home .home__feed .feed__header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e1e8ed;
  background-color: #fff;
  z-index: 200;
}
.home .home__feed .feed__header .header__heading {
  font-size: 20px;
  margin-left: 1rem;
}
.home .home__feed .feed__header .header__icon {
  font-size: 1.9rem;
  display: grid;
  place-items: center;
  padding: 13px;
  overflow: visible;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  cursor: pointer;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  margin-right: 0.5rem;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.home .home__feed .feed__header .header__icon:hover {
  background-color: #e1e8ed;
}
.home .home__widgets {
  flex: 2;
}

.new-tweet {
  display: flex;
  flex-direction: row;
  border-bottom: 7px solid #e1e8ed;
}
.new-tweet ::-moz-placeholder {
  font-size: 20px;
  color: #335166;
  font-weight: 200;
}
.new-tweet :-ms-input-placeholder {
  font-size: 20px;
  color: #335166;
  font-weight: 200;
}
.new-tweet ::placeholder {
  font-size: 20px;
  color: #335166;
  font-weight: 200;
}
.new-tweet .avatar {
  width: 50px !important;
  height: 50px !important;
  margin: 1rem;
}
.new-tweet .new-tweet__body {
  flex-grow: 1;
  overflow-x: hidden;
}
.new-tweet .new-tweet__body textarea,
.new-tweet .new-tweet__body .new-tweet__options {
  width: 95%;
}
.new-tweet .new-tweet__body textarea {
  outline: none;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  padding-bottom: 1.8rem;
  border-bottom: 1px solid #e1e8ed;
  font-size: 22px;
  letter-spacing: 1px;
  overflow-x: hidden;
  word-wrap: break-word;
  resize: none;
  font-family: inherit;
  height: 25px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}
.new-tweet .new-tweet__body textarea::-webkit-scrollbar {
  display: none;
}
.new-tweet .new-tweet__body .new-tweet__options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  padding-left: 0;
}
.new-tweet .new-tweet__body .new-tweet__options .options__inputs {
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.new-tweet .new-tweet__body .new-tweet__options .options__inputs .option {
  border-radius: 100% !important;
  width: -webkit-max-content !important;
  width: -moz-max-content !important;
  width: max-content !important;
  height: -webkit-max-content !important;
  height: -moz-max-content !important;
  height: max-content !important;
  -webkit-border-radius: 100% !important;
  -moz-border-radius: 100% !important;
  -ms-border-radius: 100% !important;
  -o-border-radius: 100% !important;
  padding: 0.5rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
  transform: scale(0.9);
  -webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);
}
.new-tweet .new-tweet__body .new-tweet__options .options__inputs .option svg {
  width: 23px;
  height: 23px;
  fill: #1da1f2;
}
.new-tweet .new-tweet__body .new-tweet__options .options__inputs .option:hover {
  background-color: #1da0f225;
}
.new-tweet .new-tweet__body .new-tweet__options .options__tweet-btn {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  padding: 0.5em 2em;
  background-color: #1da1f2;
  color: #f5f8fa;
  letter-spacing: 1px;
  font-size: 15px;
  font-weight: 700;
  text-transform: capitalize !important;
}
.new-tweet .new-tweet__body .new-tweet__options .options__tweet-btn:hover {
  background-color: #0d95e8 !important;
}

.tweets-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.tweets-wrapper .tweet-container {
  border-bottom: 1px solid #e1e8ed;
  padding: 0.5rem 0;
  display: flex;
  flex-wrap: nowrap;
}
.tweets-wrapper .tweet-container:hover {
  background-color: rgba(211, 211, 211, 0.2);
}
.tweets-wrapper .tweet-container .avatar {
  width: 55px !important;
  height: 55px !important;
  cursor: pointer;
  margin: 0.7rem;
  margin-right: 1rem;
}
.tweets-wrapper .tweet-container .tweet__body {
  flex-grow: 1;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__info {
  margin-right: 1rem;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__header {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: 9px;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__header .userName {
  margin: 0;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__header .userID,
.tweets-wrapper .tweet-container .tweet__body .tweet__header .timestamp {
  color: #687782;
  font-weight: 400;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__header .userID::before {
  content: "@";
  display: inline-block;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__header .more-btn {
  background-color: transparent;
  border: none;
  outline: none;
  margin-left: auto;
  margin-right: 1rem;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__header .more-btn .more-icon {
  font-size: 1.5rem;
  color: #aab8c2;
  cursor: pointer;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__text {
  margin-top: 5px;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__img {
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__options-box {
  display: flex;
  justify-content: space-around;
  margin: 0.8rem auto;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__options-box .option-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: #586c7b;
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__options-box .option-box .icon {
  width: 23px;
  height: 23px;
  fill: #586c7b;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  overflow: visible;
  padding: 5px;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__options-box .Messege:hover {
  color: rgba(29, 156, 240, 0.644);
}
.tweets-wrapper .tweet-container .tweet__body .tweet__options-box .Messege:hover .icon {
  fill: rgba(29, 156, 240, 0.644);
  background-color: rgba(29, 155, 240, 0.1);
}
.tweets-wrapper .tweet-container .tweet__body .tweet__options-box .Heart:hover {
  color: #fc3290;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__options-box .Heart:hover .icon {
  fill: #fc3290;
  background-color: rgba(249, 24, 129, 0.1);
}
.tweets-wrapper .tweet-container .tweet__body .tweet__options-box .Retwitte:hover {
  color: #00d18b;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__options-box .Retwitte:hover .icon {
  fill: #00d18b;
  background-color: rgba(0, 186, 124, 0.1);
}
.tweets-wrapper .tweet-container .tweet__body .tweet__options-box .Share:hover {
  color: #30acff;
}
.tweets-wrapper .tweet-container .tweet__body .tweet__options-box .Share:hover .icon {
  fill: #30acff;
  background-color: rgba(29, 155, 240, 0.1);
}

.widgets-wrapper {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  position: sticky;
  top: -220px;
}
.widgets-wrapper .search {
  background-color: #fff;
  position: sticky;
  top: 0rem;
}
.widgets-wrapper .search .search-box {
  display: flex;
  align-items: center;
  background-color: #eff3f4;
  padding: 0.5rem 1rem;
  margin: 0.4rem 0;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
}
.widgets-wrapper .search .search-box .search__icon {
  margin-right: 1rem;
}
.widgets-wrapper .search .search-box::-moz-placeholder {
  color: #596a76;
}
.widgets-wrapper .search .search-box:-ms-input-placeholder {
  color: #596a76;
}
.widgets-wrapper .search .search-box::placeholder {
  color: #596a76;
}
.widgets-wrapper .search .search-box .search__input {
  font-weight: 100;
}
.widgets-wrapper .search .search-box .search__input input {
  font-size: 15px;
  letter-spacing: 1px;
  outline: none;
  border: none;
  flex-grow: 1;
  background-color: transparent;
}
@media screen and (max-width: 1145px) {
  .widgets-wrapper {
    display: none;
  }
}
.widgets-wrapper footer {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
  padding: 1rem;
}
.widgets-wrapper footer a {
  color: #536471;
  font-size: 13px;
}
.widgets-wrapper footer a:hover {
  text-decoration: underline;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  /* Tooltip text */
  /* Show the tooltip text when you mouse over the tooltip container */
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: rgba(0, 0, 0, 0.568);
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 6px;
  font-size: 10px;
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  bottom: 100%;
}
.tooltip:hover .tooltiptext {
  visibility: visible;
}/*# sourceMappingURL=main.css.map */