.side-bar-wrapper {
  height: 100vh;
  overflow: auto;
  float: left;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 2;
}

.active {
  span {
    // font-weight: 900;
    color: $primary-color;
  }
  .side-bar-option {
    background-color: $light-hover;
    .side-bar__icon {
      color: $primary-color;
    }
  }
}
.side-bar {
  margin-top: 1rem;
  float: right;
  padding: 0 2rem;

  .side-bar-option {
    display: flex;
    justify-content: flex-start;
    font-weight: 400;
    font-size: 20px;
    color: $txt-color;
    align-items: center;
    width: max-content;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    cursor: pointer;
    padding-right: 1.5rem;
    gap: 1rem;
    margin-bottom: 1rem;
    &:hover {
      background-color: $light-hover;
    }

    .side-bar__icon {
      font-size: 1.9rem;
      cursor: pointer;
      display: grid;
      place-items: center;
      padding: 13px;
      overflow: visible;
    }

    .side-bar__txt {
      height: 30px;
    }
  }

  .side-bar-option.coloredIcon {
    background-color: $primary-color;
    &:hover {
      background-color: darken($primary-color, 5%);
    }
    svg {
      fill: $white;
    }
  }

  .tweet-btn {
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    padding: 0.7em 2em;
    background-color: $primary-color;
    color: $white;
    font-size: 17px;
    font-weight: 700;
    text-transform: capitalize !important;
    width: 100%;
    &:hover {
      background-color: darken($primary-color, 5%) !important;
    }
  }
}
// logo style
.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  width: max-content;
  &:hover {
    background-color: $primary-hover;
  }
  .logo-icon {
    padding: 10px;
    max-width: 32px;
  }
}
// New Tweet icon
.newTweetIcon {
  background-color: $primary-color;
  color: $white;
}

@import 'sideBarResponsiveness';
